/* 
    Created on : 23.7.2014, 22:24:17
    Author     : Northys
*/

h1 {
	color: #27ae60;
	margin: 10px 50px 80px 30px;
	font-size: 200px;
}

a {
	color: #2c3e50;
}

a#outlook {
	color: #2980b9;
	padding: 50px;
	position: absolute;
	top: 30px;
	left: 500px;
}

a.facebook {
	color: #8e44ad;
	margin: 300px;
}

a.google {
	color: #c0392b;
	font-weight: 700;
	font-family: 'Times New Roman';
	font-size: 30px;
}

#heading {
	font-family: 'Verdana';
}