<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"><head><meta property="fb:page_id" content="43929265776"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta property="og:title" content="Profíku, chtěj za své peníze maximum!"><title>Profíku, chtěj za své peníze maximum!</title></head><body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width: 100% !important; -webkit-text-size-adjust: none; margin: 0; padding: 0;background-color: #fafafa;">
	<center>
		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height: 100% !important; width: 100% !important; margin: 0; padding: 0;"><tr><td align="center" valign="top">
					<table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader"><tr><td valign="top" class="preheaderContent">
								<table border="0" cellpadding="10" cellspacing="0" width="100%"><tr><td valign="top">
											<div style="color: #505050; font-family: Arial; font-size: 10px; line-height: 100%; text-align: left;">Vybrali jsme pro tebe tu nejlepší a nejoblíbenější techniku za super ceny.</div>
										</td>
										<td valign="top" width="180">
											<div style="color: #505050; font-family: Arial; font-size: 10px; line-height: 100%; text-align: left;">Nezobrazuje se ti náš newsletter správně? <a href="" target="_blank" style="color: #369; font-weight: 400; text-decoration: underline;">Klikni zde</a>. </div>
										</td>
									</tr></table></td>
						</tr></table><table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #ddd;background-color: #fdfdfd;"><tr><td align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #fff; border-bottom: 0;"><tr><td class="headerContent" style="color: #202020; font-family: Arial; font-size: 34px; font-weight: 700; line-height: 100%; text-align: center; vertical-align: middle; padding: 0;">
											<img src="images/newsletter_03_2014_profi_dj.jpg" alt="" border="0" id="headerImage campaign-icon" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;"></td>
									</tr></table></td>
						</tr><tr><td align="center" valign="top" class="bodyContent">
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_02.jpg" alt="Místo pro tvé monitory" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_03.jpg" alt="Oldschool krabička" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_04.jpg" alt="Stylový zvuk" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_05.jpg" alt="Všechny triky v jednom" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_06.jpg" alt="Daleko i bez drátů" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_07.jpg" alt="Profi ozvučení s bonusem" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_08.jpg" alt="Sleduj nás na Facebooku" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
								<a href="" target="_blank">
									<img src="images/newsletter_03_2014_profi_dj_09.jpg" alt="Profi DJ" border="0" style="border: none; font-size: 14px; font-weight: 700; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle;display: inline; margin-bottom: 0 !important;"></a>
							</td>
						</tr><tr><td align="center" valign="top">
								<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #fdfdfd; border-top: 0;"><tr><td valign="top" class="footerContent">
											<table border="0" cellpadding="10" cellspacing="0" width="100%"><tr><td colspan="2" valign="middle" id="utility" style="background-color: #fdfdfd; border-top: 1px solid #f5f5f5;">
														<div style="color: #707070; font-family: Arial; font-size: 12px; line-height: 125%; text-align: left;">Pokud nechceš nadále dostávat náš newsletter pro profíky, jednoduše se můžeš odhlásit <a href="" target="_blank">zde</a>. </div>
													</td>
												</tr></table></td>
									</tr></table></td>
						</tr></table><br></td>
			</tr></table></center>
</body></html>
